body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensures a minimum height equal to the viewport height */
}

#root {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
  height: fit-content;
  position: relative;
}

.flex-gap-20 {
  column-gap: 5vw;
}

.flex-align-items-center {
  align-items: center;
}

.flex-start {
  justify-content: start;
}

.team-logo {
  height: 5vh;
  cursor: pointer;
}

.team-logo:hover {
  scale: 1.2;
}

.hoverable-buttons-conatiner > li {
  border: 3px solid black;
  padding: 10px 60px;
  font-weight: 600;
  background: rgb(238, 232, 232);
}

.display-flex {
  display: flex;
}

.flex-cols {
  flex-direction: column;
}

.flex-rows {
  flex-direction: row;
}

.hoverable-buttons-conatiner > li:hover {
  background: #615d5d;
  cursor: pointer;
}

.pos-relative {
  position: relative;
}

.width-100 {
  width: 100%;
}

.pos-absolute {
  position: absolute;
}

.justify-center {
  align-items: center;
}

#team-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-weight: 800;
  justify-content: center;
  color: white;
}

.relative-10 {
  position: relative;
  top: 10vh;
}

.relative-5-bottom {
  position: relative;
  bottom: 5vh;
}

.flexbox-container-cols {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.position-title {
  position: relative;
  left: 2vw;
  top: 10vh;
  font-size: larger;
  color: white;
  letter-spacing: 2px;
  border: 1px;
}

.ml-10 {
  margin-left: 10%;
}

.player-card {
  background: rgb(59, 1, 59);
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  z-index: 999;
}

.text-white {
  color: white;
}

.row-gap-1 {
  row-gap: 1vh;
}
.flex-wrap {
  flex-wrap: wrap;
}
.score-box {
  border: 3px solid black;
  padding: 20px;
  align-content: center;
  font-weight: 800;
  background: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 20px;
  flex: 1 0 20vw; /* explanation below */
}

.fixture-position {
  position: relative;
  margin-right: 20px;
}

.col-gap-1 {
  column-gap: 1vw;
}

.border-circle {
  border-radius: 50%;
}

.border-white {
  border: 5px solid white;
}

.position-filter-buttons {
  padding: 20px 20px;
  border-radius: 50%;
  border: 5px solid black;
  position: relative;
  bottom: 2vh;
}

.position-filter-buttons:hover {
  background: #615d5d;
  cursor: pointer;
}

.req-fallback {
  justify-self: center;
  position: relative;
  top: 10vh;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

.req-fallback::after {
  content: "\f5b4";
  font-family: FontAwesome;
  font-size: xx-large;
  position: absolute;
  top: 150%;
  left: 50%;
}

.main-bg {
  background-image: url("/images/soccer_pitch.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  flex: 1 1;
  height: 100%;
}

.main-toolbar {
  border: 3px solid black;
  background-color: rgba(0, 70, 201, 0.849);
  position: relative;
  left: 0;
  right: 0;
  padding: 10px;
  flex: 0 0;
}

.main--page-preview-text {
  color: white;
  padding: 10%;
  line-height: 50px;
  font-size: xx-large;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-text-stroke: 1px black; /* width and color */
  top: 50%;
  left: 50%;
  transform: translate(0, -100%); /* Start above the center */
  animation: upper-from-above 2s ease-out forwards;
}

.text-white {
  color: white;
}

@keyframes upper-from-above {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 0%);
  }
}

@media (min-height: 500px) {
  .main-bg {
    background-image: url("/images/soccer_pitch.jpg");
    background-repeat: repeat;
    background-size: 100% auto;
    height: 100%;
  }
}
